<br>
<br>
<h2 class="text-center">Ajouter un entrainement</h2>
<br>
<div class="container">
    <form  [formGroup]="form" (ngSubmit)="create()">
      <div class="form-group">
        <div class="radio" id="jour">
        <div class="container" id="radioJour">
            <input label="Lundi" type="radio" id="jour"  value="Lundi" formControlName="jour" >
            <input label="Mardi" type="radio" id="jour" value="Mardi" formControlName="jour">
            <input label="Mercredi" type="radio" id="jour" value="Mercredi" formControlName="jour">
            <input label="Jeudi" type="radio" id="jour" value="Jeudi" formControlName="jour">
            <input label="Vendredi" type="radio" id="jour" value="Vendredi" formControlName="jour">
            <input label="Samedi" type="radio" id="jour" value="Samedi" formControlName="jour">
            <input label="Dimanche" type="radio" id="jour" value="Dimanche" formControlName="jour">
          </div>
        </div>
        <br>

        <div class="radio" >
          <div class="container" id="radioMuscle" *ngFor="let m of muscles">
            <input type="radio" id="muscle_{{m.muscleId}}"  value="{{m.nom}}" formControlName="muscle" (change)="afficherExo(m.muscleId)">
            <label for="muscle_{{m.muscleId}}">{{m.nom}}</label>
          </div>
        </div>
        <br>




        <div [class]="'radio'+ (typeMuscle != item.muscleId?' hide':'') "  *ngFor="let item of exercices" >
          <div class="container radioExercice"  *ngIf="item.muscleId==1" >
            <input   type="radio" id="exerciceEpaule_{{item.exerciceId}}"  value="{{item.nom}}" formControlName="exercice">
            <label for="exerciceEpaule_{{item.exerciceId}}" > {{item.nom}} </label>
          </div>
        </div>



        <div [class]="'radio'+ (typeMuscle != item.muscleId?' hide':'') "  *ngFor="let item of exercices" >
          <div class="container radioExercice"  *ngIf="item.muscleId==2" >
            <input   type="radio" id="exerciceBiceps_{{item.exerciceId}}"  value="{{item.nom}}" formControlName="exercice">
            <label for="exerciceBiceps_{{item.exerciceId}}" > {{item.nom}} </label>
          </div>
        </div>




<!--
        <div class="input-field col s16">
        <label for="exercice" id="labelChamps">Exercice</label>
          <input type="text" name="" id="inputChamps" class="form-control" formControlName="exercice" data-length="10">
        </div> -->
        <div class="input-field col s16">
          <label for="serie" id="labelChamps">Série</label>
          <input type="text" name="" id="inputChamps" class="form-control" formControlName="serie" data-length="10">
        </div>
        <div class="input-field col s16">
          <label for="repetition" id="labelChamps">Répétition</label>
          <input type="text" name="" id="inputChamps" class="form-control" formControlName="repetition" data-length="10">
        </div>
        <div class="input-field col s16">
          <label for="poids" id="labelChamps">Poids</label>
          <input type="text" name="" id="inputChamps" class="form-control" formControlName="poids" data-length="10">
        </div>
        <div class="input-field col s16">
          <label for="temps" id="labelChamps">Temps</label>
          <input type="text" name="" id="inputChamps" class="form-control" formControlName="temps" data-length="10">
        </div>
        <div class="input-field col s16">
          <label for="distance">Distance</label>
          <input type="text" name="" id="inputChamps" class="form-control" formControlName="distance" data-length="10">
        </div>

        <br>
        <br>
        <div>
          <button  class="btn btn-success " type="submit" >Soumettre</button>
        </div>

        <br>
        <br>
        <br>



      </div>
    </form>
</div>
{{form.value | json}}






