<div class="container d-flex justify-content-center">
  <div class="mt-5 row justify-content-center">

      <div class="col-5 mb-3">
          <label class="px-4">Select File: </label>
          <input type="file" (change)="selectFile($event)" />
      </div>

      <div class="col-2">
          <button class="btn btn-success btn-lg" (click)="uploadFile()">Upload</button>
      </div>
  </div>
</div>
<!-- <app-list-gallerie></app-list-gallerie> -->

<h1>Galerie Photo</h1>
<br>
<div *ngFor="let photo of galerie">
  <div>
    {{photo[0].date}}
  </div>
  <!-- <div > -->
    <!-- <img  *ngFor="let h of photo" src="http://localhost:8090/image/{{h.galeriefilename}}" alt=""> -->
  <!-- </div> -->
 <app-gallerie-image *ngFor="let h of photo" [photo]="h" (delPic)="delPhoto($event)"></app-gallerie-image>

</div>







<!-- <table id="table_id" class="table " >
    <tbody>
      <div class="responsive "  *ngFor="let g of galerie ">
        <div class="gallery  "  >
          <div class="image"> -->
            <!-- <img class=img-responsive  src="http://localhost:8090/image/{{g.galeriefilename}}" > -->
          <!-- </div> -->
          <!-- <div class="desc">{{g.date}} </div> -->
        <!-- </div>
      </div>
</tbody> -->
